.text {
    font-size: 18px;
    line-height: 1.5;
    color: #C4C5C5;
    margin-bottom: 30px;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.signInWrapper {
    margin-top: 30px;
}

.hasInvite {
    color: #C4C5C5;
}